<h2>Submit a message</h2>
<form method="POST" action="/new">
  <div>
    <label for="author">User:</label>
    <input type="text" name="author" />
  </div>
  <div>
    <label for="message">Message:</label>
    <input type="text" name="message" />
  </div>
  <button type="submit">Submit</button>
</form>
